@media screen and (min-width:768px) {

    body {
      background:url(409175.jpg) no-repeat center fixed;
      background-size: cover;
    }

    .page {
      width: 50%;
      background:url(white.jpg);
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
      padding: 30px;
      font-family: sans-serif;
    }

    .profile_picture {
      border-radius: 300px 300px;
      margin-left: 200px;
      margin-right: 50px;
      width: 300px;
      height: 300px;
      border: solid 1px;
      border-color: #373737;
    }

    .title {
      font-size: 50px;
      margin-right: 50px;
      margin-left: 50px;
      text-align: center;
      text-transform: capitalize;
      color: #373737;
      border-bottom: 2px dashed #888;
      padding: 0 0 10px;
      }

    .text1 {
      font-size: 20px;
      margin-right: 15px;
      margin-left: 15px;
      text-align: center;
      background-color: white;
      border-radius: 10px ;
    }

    ul {
      list-style-type: none;
      text-transform: capitalize;
      font-size: 25px;
      text-align: center;
      margin-left: 80px;
      margin-right: 80px;
    }

    .l1 {
      border: solid 1px #373737;
      background-color: white;
      margin: 30px;
    }

    .l2 {
     border: solid 1px #373737;
     background-color: white;
     margin: 30px;
    }

    .l3 {
      border: solid 1px #373737;
      background-color: white;
      margin: 30px;
    }

    .l4 {
      border: solid 1px #373737;
      background-color: white;
      margin: 30px;
    }


    li.active{
    	background:#ffffff;
    }

    .navigation li:hover {
    	background:#000000;
    }
    li:hover a {
    	color:#098DFF;
    }

    .icons {
      font-weight: bold;
    }


    .fb img{
          height:85px;
          width:85px;
           }

    .gmail img{
      height:100px;
      width:100px;
              }

    .twitter img{
      height:100px;
      width:100px;
                }

    .choices div{
    display: inline-block;
      margin: 20px;
    }

    .choices{
      overflow: auto;
      text-align: center;
    }
    a{
      text-decoration: none;
      color:black;
    }

  .pagered {
    width: 50%;
    background:url(red.jpg);
    margin-right: auto;
    border-radius: 15px;
    padding: 30px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px #000000;
    text-transform: capitalize;
    font-size: 25px;
    font-family: sans-serif;
  }

  h3 {
    text-align: left;
    font-size: 30px;
  }

  ol {
    list-style-type: square;
    text-align: left;
    font-size: 25px;
  }

  .pageyellow {
    width: 50%;
    background:url(yellow.jpg);
    margin-left: auto;
    border-radius: 15px;
    padding: 30px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px #000000;
    text-transform: capitalize;
    font-size: 25px;
    font-family: sans-serif;
  }

  h3 {
    text-align: left;
    font-size: 30px;
  }

  ol {
    list-style-type: square;
    text-align: left;
    font-size: 25px;
  }

  .pageblue {
    width: 50%;
    background:url(blue.jpg);
    margin-right: auto;
    border-radius: 15px;
    padding: 30px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px #000000;
    text-transform: capitalize;
    font-size: 25px;
    font-family: sans-serif;
  }

  h3 {
    text-align: left;
    font-size: 30px;
  }

  ol {
    list-style-type: square;
    text-align: left;
    font-size: 25px;
  }

  .adr {
    text-transform: none;
  }

  .pagegreen {
    width: 50%;
    background:url(green.jpg);
    margin-left: auto;
    border-radius: 15px;
    padding: 30px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px #000000;
    text-transform: capitalize;
    font-size: 25px;
    font-family: sans-serif;
  }

  h3 {
    text-align: left;
    font-size: 30px;
  }

  ol {
    list-style-type: square;
    text-align: left;
    font-size: 25px;
  }
.centre {
  height:200px;
  width:200px;
  margin-left: auto;
  margin-right: auto;
 }

}
